@media only screen and (max-width: 400px) {
  .heading {
      font-size: 0.8rem;
  }

  .content {
        font-size: 0.7rem;
  }

  .container {
    max-height: 100vh;
}
}

@media only screen and (max-width: 300px) {
  .heading {
      font-size: 0.6rem;
  }

  .content {
        font-size: 0.5rem;
  }
}

